---
# Based on ansible-lint config
extends: default

rules:
  comments: disable
  comments-indentation: enable
  document-start: enable
  indentation: enable
  key-duplicates: enable
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  trailing-spaces: enable
  truthy: enable
